#test

In [1]:
print('ciao!')

ciao!

In [1]:
# bool -> int -> float -> str
True + 6 + 7.5
#1+6+7.5

14.5

In [3]:
int(7.5) + 3

10

In [5]:
bool(0)

False

In [7]:
bool(3)

True

In [9]:
#Auto typecasting
True + 3 + int(4.5)

8

In [11]:
a=3
b=4.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [13]:
a + int(b)

7

In [15]:
3 + int('4')

7

In [19]:
# True -> 1, False -> 0
False + 4

4

In [21]:
int(123.978)

123

In [23]:
int(10+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [25]:
int(True)

1

In [27]:
int(False)

0

In [29]:
int("10")

10

In [33]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [35]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [37]:
int("0B1111")

ValueError: invalid literal for int() with base 10: '0B1111'

In [39]:
float(10)

10.0

In [41]:
float(10+5j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [43]:
float(True)

1.0

In [45]:
float(False)

0.0

In [47]:
float("10")

10.0

In [49]:
float("10.5")

10.5

In [51]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [53]:
float("0B1111")

ValueError: could not convert string to float: '0B1111'

In [57]:
#if input X is int Datatype: if X is 0 gives False otherwise is True
bool(0)

False

In [61]:
bool(1)

True

In [63]:
bool(10)

True

In [65]:
#if input X is float Datatype: if X is 0.0 gives False otherwise is True
bool(10.5)

True

In [69]:
bool(0.178)

True

In [71]:
bool(0.0)

False

In [73]:
#if input X is Complex no. Datatype: if X has both real/imaginary 0 gives False otherwise is True
bool(10-2j)

True

In [75]:
bool(0+1.5j)

True

In [77]:
bool(0+0j)

False

In [79]:
#if input X is str Datatype: if X is the empty string gives False otherwise is True
bool("True")

True

In [81]:
bool("False")

True

In [83]:
bool("")

False

In [85]:
#SLICING
a = "I am a Data Scientist"  #indexing start with 0 from 'I', space chr is counted as well,for 'am' then index of a is 2
a                            # index 'I'=0, 'space'=1, 'a'=2, 'm'=3 ...and so on
                             # index 't'=-1, 's'=-2 ...and so on, in case of REVERSE INDEXING

'I am a Data Scientist'

In [87]:
# : -> slicing operator
a[2:4] #it prints all letters between index 2 nad 4 excluding the index 4

'am'

In [89]:
a[-9:] #using REVERSE INDEXING last char 't' has index -1, so it prints all letters 
       #from the one in position -9 'S' till the end of the string including the last letter 't'

'Scientist'

In [91]:
a[7:] #same using indexing it prints from ltter at index 7, 'D' till the end of the string including the last letter 't'

'Data Scientist'

In [93]:
a[:7] #it print all letter from the first letter 'I' at index 0 till the 'D' at index 7, excluding it

'I am a '

In [103]:
# Slicing lists
my_list = [1,2,3,4,5,6,7,8,9,10]

#get slice sl1 starting with index 2 till index 6, 6 excluded
sl1 = my_list[2:6]
print(sl1) # it prints [3, 4, 5, 6]

#get slice sl2 starting with index 1 till the end, last char is included
sl2 = my_list[1:]
print(sl2) # it prints [2, 3, 4, 5, 6, 7, 8, 9, 10]

#get slice sl3 starting at the beginning of the list till index 5, 5 excluded
sl3 = my_list[:5] #or my_list[0:5]
print(sl3) # it prints [1, 2, 3, 4, 5]

#get slice sl4 from the beginning till the end with a step of 2
sl4 = my_list[::2]
print(sl4) # it prints [1, 3, 5, 7, 9]

[3, 4, 5, 6]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]

In [113]:
# Slicing strings
my_string = "Hello, World!"

#get slice sl5 from letter at position 8 (index 7) to the end
sl5 = my_string[7:]
print(sl5) #it prints "World!"

#get slice sl6 from the first letter till letter at index 5, 5 excluded
sl6 = my_string[:5]
print(sl6) #it prints "Hello"

#get slice sl7 fron the beginning till the end with a step of 2
sl7 = my_string[::2]
print(sl7) #it prints "Hlo ol!"

World!
Hello
Hlo ol!

In [119]:
# Slicing using REVERSE INDEXING, examples with lists
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#get slice sl8 from the second last item till the last one
sl8 = my_list[-2:]
print(sl8) #it prints [9, 10]

#get slice sl9 from first item till 3rd last one, 3rd last one excluded
sl9 = my_list[:-3]
print(sl9) #it prints [1, 2, 3, 4, 5, 6, 7]

#get slice sl10 of the entire list printed in reverse order
sl10 = my_list[::-1]
print(sl10) #it prints [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[9, 10]
[1, 2, 3, 4, 5, 6, 7]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [121]:
#arithmetic operators
print (10 + 4) #add (output 14)
print(10 - 4) #subtract (output 6)
print(10 * 4) #multiply (output 40)
print(10**4) #power (output 10000)
print(10 / 4) #divide (output 2.5)
print(10 % 4) #modulo (output 2) - also know as reminder

14
6
40
10000
2.5
2

In [123]:
#Comparison operator
print(5 > 3) #true if grater then, false otherwise
print(5 < 3) #true if less then, false otherwise
print(5 >= 3) #true if grater then or equal to, false otherwise
print(5 <= 3) #true if less then or equal to, false otherwise
print(5 != 3) #true if differernt, false otherwise
print(5 == 3) #true if equal, false otherwise

True
False
True
False
True
False

In [125]:
# == and !== can be applied also with arguments of different datatypes
10==True

True

In [127]:
10!='durga'

True

In [133]:
#Boolean operators, for combined conditional statements eval. 
# priority : not, and or
# logical AND
a = 10
b = 20
if a > 0 and b > 0 :
    print("Both greather than 0")

# logical OR
b = -5
if a > 0 or b > 0 :
    print("Either a or b is greather than 0")
    
# logical NOT
if not (b > 0) :
    print("b is negative")

Both greather than 0
Either a or b is greather than 0
b is negative

In [ ]:
# BITWISE operators

In [137]:
# Assignment operators
# = operator
x = 10
print(x) # output 10

10

In [139]:
# += operator
x += 5 # equivalent to x = x + 5
print(x) # output 15

15

In [141]:
# -= operator
x -= 3 # equiv. x = x - 3
print(x) # output 12

12

In [143]:
# *= operator
x *= 2 # equiv. x = x * 2
print(x) # output 24

24

In [145]:
# /= operator
x /= 4 # equiv. x = x / 4
print(x) # output 6.0

6.0

In [147]:
# %= operator
x %= 3 # equiv. x = x % 3
print(x) # output 0.0

0.0

In [149]:
# **= operator
x **= 2 # equiv. x = x ** 2
print(x) # output 0.0

0.0

In [153]:
# //= operator
x //= 3 # equiv. x = x // 3
print(x) # output 0.0

0.0

In [155]:
# Practice
# 1) Assignment 
y += 3
print(y) # throw error if y is not initialized
         # NameError: name 'y' is not defined

NameError: name 'y' is not defined

In [157]:
# 2) comparison
x = 'one'
y = 2
print(x > y) # throw error if datatyoe do not match
             # TypeError: '>' not supported between instances of 'str' and 'int'

TypeError: '>' not supported between instances of 'str' and 'int'

In [159]:
print(x == y) # output false

False

In [165]:
# 3) boolean
print(y or x)

2

In [167]:
print(not x)

False